.exp-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
  }
  
  .table-actions {
    display: flex;
  }
  
  .table-actions button + button {
    margin-left: 10px;
  }
 
  
  